NAME=$name$
LIB=lib/$(NAME)_client_stub.a
DEMO=demo

CXX=g++
CXXFLAGS=-g -I./include -I../include
CC=gcc
CFLAGS=-g -I./include -I../include

cchighlight=\033[0;31m
ccend=\033[0m

.cpp.obj:
	${CXX} ${CXXFLAGS} -c $(.SOURCE)

all: $(LIB) $(DEMO)
	@echo -e "$(cchighlight)successfully compiling client stub$(ccend)"

$(LIB): src/$(NAME)_client_stub.o
	mkdir -p lib
	cp ../lib/common_lib.a $(LIB)
	ar rcs $(LIB) src/$(NAME)_client_stub.o

$(DEMO): src/main_client.o
	$(CXX) $(CXXFLAGS) -lpthread -o $(DEMO) -Xlinker $(LIB) src/main_client.o

.PHONY: clean
clean:
	rm -f src/*.o
	rm -f $(LIB)
	rm -f $(DEMO)
